$prefix: ".la-tabs";

#{$prefix}{
    &-nav{
      list-style-type: none;
      overflow: hidden;
      border-bottom: 1px solid #dee2e6;
      margin: 0;
      padding: 8px 0;

      &-item {
        display: inline;
        padding: 7px 10px;

        border: 1px solid transparent;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;

        color: #5081b3;
        
        &:hover{
            cursor: pointer;
        }

        &.isSelected {
            color: #495057;
            border-color: #dee2e6 #dee2e6 #fff;
        }
      }

    }

    &-selected-tab-content{
        border: 1px solid transparent;
    }
}